# Script de clusterização para as bases de dados do ENEM - Algoritimo DBSCAN

**Autor**: Rafael Victor Araujo Bernardes - rafaelvictor.bernardes@gmail.com

In [1]:
from sklearn.cluster import DBSCAN
import pandas as pd

In [2]:
# ano = '2022'
# ano = '2020'
ano = '2019'

DATASET_ENEM_PATH = 'D:\BASES_PRE_PROCESSADAS\PRE_PROCESSADOS_ENEM_' + ano + '.csv'

In [3]:
microdadosEnem = pd.read_csv(DATASET_ENEM_PATH, sep=',', encoding='ISO-8859-1')

In [4]:
microdadosEnem.head()

,TP_FAIXA_ETARIA,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ESCOLA,IN_TREINEIRO,CO_MUNICIPIO_PROVA,TP_LINGUA,Q001,...,Q019,Q020,Q021,Q022,Q023,Q024,Q025,MEDIA_NOTAS,TP_SEXO_F,TP_SEXO_M
0,10,1,1,1,1,1,0,1721000,1,1,...,1,1,1,1,1,1,1,475.34,True,False
1,7,1,1,1,1,1,0,3118601,0,2,...,2,1,2,2,2,1,1,639.36,True,False
2,13,2,2,1,1,1,0,5107602,0,3,...,2,1,2,3,1,1,1,649.62,False,True
3,7,1,3,1,1,1,0,2924009,1,2,...,2,1,2,4,1,2,2,534.98,True,False
4,2,1,1,1,2,2,0,3550308,0,2,...,2,1,1,2,2,1,1,495.04,False,True

In [5]:
# Default eps == 0.5
# Default min_samples == 5


enem_dbscan = DBSCAN(eps=0.5, min_samples=2)

In [ ]:
enem_dbscan.fit(microdadosEnem)

In [ ]:
rotulos_clusters = enem_dbscan.labels_
rotulos_clusters